<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.foodieshop.mapper.FoodsMapper" >
  <resultMap id="BaseResultMap" type="com.qfedu.foodieshop.pojo.Foods" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="INTEGER" />
    <result column="vipprice" property="vipprice" jdbcType="INTEGER" />
    <result column="depict" property="depict" jdbcType="VARCHAR" />
    <result column="epoch" property="epoch" jdbcType="DATE" />
    <result column="count" property="count" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, name, sort, price, vipprice, depict, epoch, count
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from foods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from foods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.foodieshop.pojo.Foods" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into foods (user_id, name, sort, 
      price, vipprice, depict, 
      epoch, count)
    values (#{userId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sort,jdbcType=VARCHAR}, 
      #{price,jdbcType=INTEGER}, #{vipprice,jdbcType=INTEGER}, #{depict,jdbcType=VARCHAR}, 
      #{epoch,jdbcType=DATE}, #{count,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.foodieshop.pojo.Foods" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into foods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="vipprice != null" >
        vipprice,
      </if>
      <if test="depict != null" >
        depict,
      </if>
      <if test="epoch != null" >
        epoch,
      </if>
      <if test="count != null" >
        count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=INTEGER},
      </if>
      <if test="vipprice != null" >
        #{vipprice,jdbcType=INTEGER},
      </if>
      <if test="depict != null" >
        #{depict,jdbcType=VARCHAR},
      </if>
      <if test="epoch != null" >
        #{epoch,jdbcType=DATE},
      </if>
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.foodieshop.pojo.Foods" >
    update foods
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="vipprice != null" >
        vipprice = #{vipprice,jdbcType=INTEGER},
      </if>
      <if test="depict != null" >
        depict = #{depict,jdbcType=VARCHAR},
      </if>
      <if test="epoch != null" >
        epoch = #{epoch,jdbcType=DATE},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.foodieshop.pojo.Foods" >
    update foods
    set user_id = #{userId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=VARCHAR},
      price = #{price,jdbcType=INTEGER},
      vipprice = #{vipprice,jdbcType=INTEGER},
      depict = #{depict,jdbcType=VARCHAR},
      epoch = #{epoch,jdbcType=DATE},
      count = #{count,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>