<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.foodieshop.mapper.TotelMapper" >
  <resultMap id="BaseResultMap" type="com.qfedu.foodieshop.pojo.Totel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="·password·" property="·password·" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="info" property="info" jdbcType="VARCHAR" />
    <result column="data" property="data" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, ·password·, address, info, data
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from totel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from totel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.foodieshop.pojo.Totel" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into totel (username, ·password·, address, 
      info, data)
    values (#{username,jdbcType=VARCHAR}, #{·password·,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{info,jdbcType=VARCHAR}, #{data,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.foodieshop.pojo.Totel" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into totel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="username != null" >
        username,
      </if>
      <if test="·password· != null" >
        ·password·,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="info != null" >
        info,
      </if>
      <if test="data != null" >
        data,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="·password· != null" >
        #{·password·,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="data != null" >
        #{data,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.foodieshop.pojo.Totel" >
    update totel
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="·password· != null" >
        ·password· = #{·password·,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="data != null" >
        data = #{data,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.foodieshop.pojo.Totel" >
    update totel
    set username = #{username,jdbcType=VARCHAR},
      ·password· = #{·password·,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR},
      data = #{data,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}



  </update>
</mapper>